
.skip-content {
    position: fixed;
    top:0px;
    left:-200vw;
    width:1px;
    height:1px;

    display: flex;
    align-items: center;
    background-color: black;
    color:white;
    transition: all 0.3s ease;
    
    &:focus, &:focus-within {
        width: 100vw;
        left:0;
        height: auto;
    }

    nav {
        outline: none;
        border: none;
    }

    ul {
        display: flex;
        top:auto;
        padding: 0.5rem 0;
        
        list-style: none;

        &:focus, &:focus-within {
            left: 0px;
            height:auto;
        }

        li {
            padding: 0.7rem;
        }
    }

    a {
        display: inline-block;
        padding: 0.2rem 0.5rem;
        color:white;
        text-decoration: none;
        border-bottom: 2px solid white;
       

        &:focus, &:hover {
            width:auto;
            height:auto;
            background-color: white;
            color: black;   
        }
    }
}