.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    // justify-content: center;
    align-items: center;
   
    &__logo { 
        margin-top:20vh;
    }
    &__slogan {}
    &__button {margin-top: auto;
    margin-bottom: 25vh;}

    .cta {
        margin-top: auto;
    }
}
