.list {
    list-style: none;
    margin: 2rem 0;
    padding: 2rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        max-width: 50%;
        min-width: 45%;
        margin-bottom: 0.2rem;
        margin-left:0px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background: url(../assets/img/SVG/chevron-thin-right.svg) center no-repeat;
            background-size: 10px;
            display: flex;
            // align-self: stretch;
            width: 10px;
            height: 10px;

            margin-right:0.5rem;
          
            background-color: var(--color-primary);
            -webkit-mask-image: url(../assets/img/SVG/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../assets/img/SVG/chevron-thin-right.svg);
            mask-size: cover;
        }
    }
}