.logo{
    position: relative;

    a {
        display: inline-block;
    }

    svg {
        height: 4rem;
        width: 220px;
    }

    svg:hover{
        color: red;
    }

    &__typo {
        position: absolute;
        right:20%;
        bottom:15px;
        font-weight: 800;
        font-size: 2rem;
        color: var(--color-primary);
    }
}