
.side-nav {
font-size: 1rem;
list-style:none;
margin-top: 2rem;

    &__item {
        position: relative;
        &:not(:last-child){
            margin-bottom: 0.5rem;
        }

        
        &:before {
            content:"";
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            transform: scaleY(0);
            width: 3px;
           
            transition: transform 0.2s, width 0.5s cubic-bezier(1,0,0,1) 0.2s;
        }

        &:hover:before {
            background-color:red;
            width: 100%;
            background-color: var(--color-primary);
            transform: scaleY(1);
        }


    }

    &__link {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        font-size: 0.8rem;
        text-decoration: none;
        text-transform: uppercase;

        &:link, &:visited {
            color: var(--color-grey-light-1);
        }
    }

    &__icon{
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        fill: currentColor;
    }
}

.legal {
    font-size:0.8rem;
    line-height: 1rem;
    text-align: center;
    padding: 2rem;
    color: var(--color-grey-light-4);
}