.detail {
    width: 100%;
    display: flex;
    padding: 2rem;
    background-color: var(--color-grey-light-3);
    border-bottom: var(--line);
}

.description{
    background-color: white;
    box-shadow: var(--shadow-details);
    
    padding: 2rem;
    align-self: stretch;
    flex: 0 0 60%;
    margin-right: 2rem;
}

.user-reviews{
    background-color: purple;
    flex:1;
}

.paragraph:not(:last-of-type) { 
    margin-bottom: 1.5rem; 
}

.list {
    list-style: none;
    margin: 2rem 0;
    padding: 2rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.2rem;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background: url(../assets/img/SVG/chevron-thin-right.svg) center no-repeat;
            background-size: 10px;
            display: flex;
            // align-self: stretch;
            width: 10px;
            height: 10px;

            margin-right:0.5rem;
          
            background-color: var(--color-primary);
            -webkit-mask-image: url(../assets/img/SVG/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../assets/img/SVG/chevron-thin-right.svg);
            mask-size: cover;
        }
    }
}