.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: white;
    border-bottom: var(--color-grey-light-2);

    font-size: 1rem;

    // & >* {
       
    // }
} 