:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --drop-shadow-dark: 0 1rem 1rem rgba(0,0,0,0.3);
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
}

svg {
  height: 2rem;
  width: 32px;
}

.wrapper {
  min-height: 20rem;
  max-width: 120rem;
  background-color: var(--color-grey-light-2);
  -webkit-box-shadow: var(--drop-shadow-dark);
          box-shadow: var(--drop-shadow-dark);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  background-color: white;
  border-bottom: var(--color-grey-light-2);
}

.header-container > * {
  background-color: wheat;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: red;
  height: 100%;
}

.logo a {
  display: inline-block;
}

.logo svg {
  height: 4rem;
  width: 220px;
}

.logo svg:hover {
  color: red;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  border-radius: 2rem;
  width: 90%;
  height: 2.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-grey-light-2);
  font-family: inherit;
  font-size: inherit;
  border: 1px solid transparent;
  outline: 1px solid transparent;
}

.search__input:hover, .search__input:focus {
  border: 1px solid var(--color-grey-light-4);
  width: 100%;
}

.search__button {
  width: 2rem;
  margin-left: -2.7rem;
  border: none;
  background-color: none;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */