.u-sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --drop-shadow-dark: 0 1rem 1rem rgba(0,0,0,0.3);
  --shadow-details: 0 1rem 2rem rgba(0,0,0,0.06);
  --line: 1px solid var(--color-grey-light-4);
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 90%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  background-size: cover;
  width: 100%;
}

svg {
  height: 2rem;
  width: 32px;
}

.cursive {
  font-family: 'Reenie Beanie', cursive;
  text-transform: none !important;
}

.wrapper {
  min-height: 20rem;
  max-width: 85vw;
  margin: 0px auto;
  display: block;
  margin-bottom: 4rem;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  background-color: white;
  border-bottom: 1px solid var(--color-grey-light-4);
  font-size: 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: var(--drop-shadow-dark);
          box-shadow: var(--drop-shadow-dark);
  background-color: white;
}

.detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background-color: var(--color-grey-light-3);
  border-bottom: var(--line);
}

.description {
  background-color: white;
  -webkit-box-shadow: var(--shadow-details);
          box-shadow: var(--shadow-details);
  padding: 2rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 2rem;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.intro {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__logo {
  margin-top: 25vh;
  padding: 1.5rem;
  position: relative;
}

.intro__logo-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 4rem;
  line-height: 4rem;
  position: relative;
}

.intro__logo-img {
  width: 13rem;
  height: 13rem;
  fill: var(--color-primary-light);
  position: absolute;
  top: -5.5rem;
  left: -4rem;
  z-index: 0;
}

.intro__logo-typo {
  z-index: 10;
  position: relative;
  background-image: linear-gradient(45deg, #000000 50%, var(--color-primary));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.intro__slogan {
  font-size: 2.5rem;
  padding: 2.5rem 2rem;
  font-family: 'Reenie Beanie', cursive;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent);
  margin-top: 1vh;
}

.intro__button {
  margin-top: auto;
  margin-bottom: 25vh;
}

.intro .cta {
  margin-top: auto;
}

.logo {
  position: relative;
}

.logo a {
  display: inline-block;
}

.logo svg {
  height: 4rem;
  width: 220px;
}

.logo svg:hover {
  color: red;
}

.logo__typo {
  position: absolute;
  right: 20%;
  bottom: 15px;
  font-weight: 800;
  font-size: 2rem;
  color: var(--color-primary);
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  border-radius: 2rem;
  width: 90%;
  height: 2.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-grey-light-2);
  font-family: inherit;
  font-size: inherit;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.search__input:hover, .search__input:focus {
  border: 1px solid var(--color-grey-light-4);
  width: 100%;
}

.search__input::-webkit-input-placeholder {
  color: var(--color-grey-light-4);
}

.search__input:-ms-input-placeholder {
  color: var(--color-grey-light-4);
}

.search__input::-ms-input-placeholder {
  color: var(--color-grey-light-4);
}

.search__input::placeholder {
  color: var(--color-grey-light-4);
}

.search__input::-webkit-input-placeholder:active {
  color: var(--color-grey-dark-3);
}

.search__input:-ms-input-placeholder:active {
  color: var(--color-grey-dark-3);
}

.search__input::-ms-input-placeholder:active {
  color: var(--color-grey-dark-3);
}

.search__input::placeholder:active {
  color: var(--color-grey-dark-3);
}

.search__button {
  width: 2rem;
  margin-left: -2.7rem;
  border: none;
  background-color: none;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__icon {
  fill: var(--color-grey-dark-2);
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.user-nav > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav svg {
  width: 20px;
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  fill: var(--color-grey-dark-2);
  height: 2rem;
  width: 2rem;
}

.user-nav__notification {
  font-size: 0.6rem;
  color: white;
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 45%;
  right: 25%;
}

.skip-content {
  position: fixed;
  top: 0px;
  left: -200vw;
  width: 1px;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skip-content:focus, .skip-content:focus-within {
  width: 100vw;
  left: 0;
  height: auto;
}

.skip-content nav {
  outline: none;
  border: none;
}

.skip-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: auto;
  padding: 0.5rem 0;
  list-style: none;
}

.skip-content ul:focus, .skip-content ul:focus-within {
  left: 0px;
  height: auto;
}

.skip-content ul li {
  padding: 0.7rem;
}

.skip-content a {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.skip-content a:focus, .skip-content a:hover {
  width: auto;
  height: auto;
  background-color: white;
  color: black;
}

.side-nav {
  font-size: 1rem;
  list-style: none;
  margin-top: 2rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: var(--color-primary);
  -webkit-transition: width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s;
  transition: transform 0.2s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
}

.side-nav__item:hover:before {
  width: 100%;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.side-nav__item:active::before {
  background-color: black;
}

.side-nav__item--current:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-primary);
  width: 100%;
}

.side-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-1);
}

.side-nav__icon {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  fill: currentColor;
}

.legal {
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  padding: 2rem;
  color: var(--color-grey-light-4);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.gallery__item {
  min-width: 33%;
}

.gallery__image {
  width: 100%;
  display: block;
}

.gallery__video {
  width: 100%;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--color-grey-light-4);
}

.overview__title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 2rem;
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__icon-star, .overview__icon-location {
  width: 1rem;
  height: 1rem;
  fill: var(--color-primary);
}

.overview__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__location > * {
  margin-right: 0.5rem;
}

.overview__rating {
  background-color: var(--color-primary);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0.8rem;
  margin-left: 1rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.overview__rating-average {
  font-size: 2rem;
  font-weight: 300;
}

.overview__rating-count {
  font-size: .5rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  line-height: 1rem;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-inline:hover {
  color: var(--color-grey-dark-1);
  -webkit-animation: pulsar 1s infinite ease;
          animation: pulsar 1s infinite ease;
}

.btn-inline:focus {
  outline: none;
}

@-webkit-keyframes pulsar {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsar {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.list {
  list-style: none;
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  max-width: 50%;
  min-width: 45%;
  margin-bottom: 0.2rem;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__item::before {
  content: "";
  background: url(../assets/img/SVG/chevron-thin-right.svg) center no-repeat;
  background-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  background-color: var(--color-primary);
  -webkit-mask-image: url(../assets/img/SVG/chevron-thin-right.svg);
  -webkit-mask-size: cover;
  mask-image: url(../assets/img/SVG/chevron-thin-right.svg);
  mask-size: cover;
}

.recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__count {
  font-size: 0.8rem;
  color: var(--color-grey-dark-2);
}

.recommend__friends {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-box-shadow: var(--shadow-details);
          box-shadow: var(--shadow-details);
  margin-right: -1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.recommend__photo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 0.2rem;
  -webkit-box-shadow: var(--drop-shadow-dark);
          box-shadow: var(--drop-shadow-dark);
}

.user-reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.8rem;
}

.user-reviews button {
  margin-top: 1rem;
}

.review {
  background-color: white;
  padding: 2rem;
  -webkit-box-shadow: var(--shadow-details);
          box-shadow: var(--shadow-details);
  position: relative;
}

.review::before {
  content: "\201C";
  position: absolute;
  left: 0;
  top: -1.5rem;
  line-height: 1;
  font-size: 18rem;
  color: var(--color-grey-light-2);
  font-family: sans-serif;
  z-index: 1;
}

.review:not(:last-child) {
  margin-bottom: 2rem;
}

.review__text {
  margin-bottom: 1rem;
  z-index: 10;
  position: relative;
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__user > *:not(:last-child) {
  margin-right: 0.7rem;
}

.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border: 3px solid white;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__user-box {
  font-size: inherit;
}

.review__user-name {
  text-transform: uppercase;
}

.review__user-date {
  color: var(--color-grey-dark-3);
}

.review__ratio {
  margin-left: auto;
  font-size: 1.3rem;
  color: var(--color-primary);
}

.cta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.cta__button {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  border: 1px solid transparent;
  -webkit-box-shadow: var(--drop-shadow-dark);
          box-shadow: var(--drop-shadow-dark);
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  overflow: hidden;
  min-width: 40%;
}

.cta__button span {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 1rem 0rem;
  font-weight: 300;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta__button:hover, .cta__button:focus {
  outline: none;
  -webkit-animation: 1s pulsar infinite;
          animation: 1s pulsar infinite;
}

.cta__button:hover .cta__visible, .cta__button:focus .cta__visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.cta__button:hover .cta__hidden, .cta__button:focus .cta__hidden {
  top: 0;
}

.cta__hidden {
  padding: 1rem 0;
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: -100%;
}

@media (max-width: 991.5px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side-nav {
    margin-top: 0px;
    font-size: 1rem;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overview__location {
    margin-left: auto;
  }
  .side-nav__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .side-nav__item:not(:last-child) {
    margin-bottom: 0rem;
  }
  .header-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: unset;
  }
  .search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    margin-bottom: 1rem;
  }
  .user-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gallery {
    height: 150px;
  }
  .legal {
    display: none;
  }
}

@media (max-width: 767.8px) {
  .background {
    background: url("img/video-img.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .background video {
    display: none;
  }
  .user-nav > * {
    padding: 0 0.8rem;
  }
  .intro {
    width: 85%;
    margin: 0 auto;
  }
  .intro__logo {
    margin-top: 15vh;
  }
  .intro__logo-img {
    width: 8rem;
    height: 8rem;
    fill: var(--color-primary-light);
    position: absolute;
    top: -3rem;
    left: 4rem;
    z-index: 0;
  }
  .intro__slogan {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5), transparent);
    margin-top: 2vh;
  }
  .side-nav {
    font-size: 1rem;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0;
  }
  .side-nav__item {
    width: 47%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .side-nav__item:not(:last-child) {
    margin-bottom: 0rem;
  }
  .cta__button span {
    display: inline-block;
    height: 100%;
    width: 70vw;
    padding: 1rem;
    font-weight: 300;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .gallery {
    height: 150px;
  }
  .gallery__item:not(:first-child) {
    display: none;
  }
  .overview__stars {
    display: none;
  }
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
  }
  .description {
    margin: 0px;
  }
  .list {
    width: 100%;
    padding: 1rem 0px;
  }
  .list__item {
    width: 50%;
  }
  .user-reviews {
    background-color: white;
    padding-bottom: 1rem;
  }
  .user-reviews button {
    margin: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */